.App {
  text-align: center;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.block-example {
  
  margin: 0.5rem;
  background-color: #eee;

}
.container{
  background-color: rgb(167, 93, 93);
  align-items: center;
  text-align: center;
}
.col{
  width: 500px;
}